body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background: #FFA07A;
	display: flex;
	flex-direction: column;
	max-width: 960px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
    display: flex;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px; 
    display: flex;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    background-color: #A52A2A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}